<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AnyName" type="BassUtils.Tests.ConfigLoader.FirstConfigurationSection, BassUtils.Tests" />
    <section name="PaymentDetails" type="BassUtils.Tests.ConfigLoader.SecondConfigurationSection, BassUtils.Tests" />
    <section name="Continent" type="BassUtils.Tests.ConfigLoader.ContinentConfigurationSection, BassUtils.Tests" />
  </configSections>

  <AnyName FirstName="Philip" Surname="Daniels" />

  <PaymentDetails Mechanism="CreditCards">
    <CardType>Visa</CardType>
    <Discount>20</Discount>
    <PaymentClass>Invoice</PaymentClass>
    <ProgramName>Something.exe</ProgramName>
  </PaymentDetails>

  <Continent Name="North America">
    <Countries>
      <Country Name="USA" PopulationInMillions="320" AreaInSquareKm="9147593"/>
      <Country Name="Canada" PopulationInMillions="36" AreaInSquareKm="9984670"/>
      <Country Name="Mexico" PopulationInMillions="118" AreaInSquareKm="1972550"/>
    </Countries>
  </Continent>
</configuration>